@media screen and (max-width: 500px) {
    iframe{height: 200px;
    border: 1px solid;}
    .Thang-contact-img{
        width: 500px;
        height: 440px;
    }
    .Thang-contact-text{
        margin: auto;
        text-align: center;
        padding: 111.1111px 33.333px 0px 33.3333px;
        font-size: 25px;
    }
    .Thang-contact-box{
        width: 485px;
        height: 1800px;
        margin: auto;
        margin-top: 40px;
        position: relative;
        padding: 48px 12px 24px;
    }



    .Thang-contact-box-2{
        display: flex;
        width: 100%;
        margin-top: -24px;
        margin: 0;
    }
    .Thang-contact-card{
        display: block;
        background-color: white;
        width: 100%;
        border:  none;
        margin-top: 24px;
        min-height: 136px;
        padding: 0 12px;
    }
    .Thang-card-4{
        position: absolute;
        top: auto;
        left:0;
        width: 405px;
        padding: 40px 24px 0 24px;
    }
}


@media screen and (max-width: 1024px){
    iframe{height: 300px;
    border: 1px solid;}
    
}
